Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
APScheduler==3.10.4
gspread==6.0.0
google-auth==2.26.2
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.161.0
python-dotenv==1.0.0
reportlab==4.2.5
authlib==1.4.0
